@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEF4ED;
    background-image: url('background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100vw;
}

.header-content {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 20px;
}

.header-section-right {
    display: flex;
    flex-direction: row;
    justify-content: right;

    padding-top: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.header-section-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 50px;
}

.header-content > h1 {
    display: flex;
    font-weight: 700;
    color: #fff;
    font-size: 3rem;
}

.header-content > p {
    display: flex;
    font-weight: 400;
    color: #8DA9C4;
    font-size: 1.5rem;
}

.profilePic {
    max-height: 150px;
    aspect-ratio: 1/1;
    padding: 15px;
}

.section-content {
    font-family: 'Roboto';
    color: #fff;
    font-weight: 400;
    padding-left: 60px;
    padding-top: 300px;
}

.section-content > img {
    width: 100%;
    max-width: 700px;
    margin-right: 100px;
}

.section-text {
    display: flex;
    font-size: 28px;
    gap: 32px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
}

button[type=submit] {
    font-family: 'Roboto';
    font-size: 24px;
    border-radius: 35px;
    width: 150px;
    height: 45px;
    font-weight: 700;
    background-color: #8fcfe5;
    color: #0B2545;
    transition-duration: 0.4s;
    border: none;
}

button[type=submit]:hover {
    background-color: #0B2545;
    color: #8fcfe5;
}

button[type=submit]:active {
    scale: 90%;
    transition-duration: 200ms;
}

.contact-button {
    border-radius: 32px;
    width: 130px;
    height: 45px;
    font-weight: 700;
    display: flex;
}

.phone {
    display: flex;
    width: 42px;
    height: 42px;
    margin-top: 10px;
    margin-left: -5px;
}

.phone:hover, .socialIcon:hover{
    scale: 110%;
    transition-duration: 500ms;
}

.contact {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.socialIcon {
    display: flex;
    max-width: 42px;
    max-height: 42px;
    margin-top: 10px;
}

.socialIcons {
    display: flex;
    max-width: 42px;
    max-height: 42px;
    margin-top: 10px;
    gap: 24px;
}

.socials {
    display: flex;
    flex-direction: row;
}

.emailField {
    border-radius: 32px;
    width: 330px;
    height: 45px;
    margin-right: 10px;
    border: none;
    padding-left: 20px;
}
    
input::placeholder {
    font-size: 1.25rem;
}

form {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.enquireText {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #8DA9C4;
    font-size: 16px;
    font-family: 'Roboto';
    padding-right: 24px;
}

@media only screen and (max-width: 600px) {
    .header-section-left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 50px;
        margin-bottom: 50px;
        width: 100%;
    }

    .header-content {
        font-family: 'Roboto';
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        padding: 20px;
    }
    
    .section-all {
        display: flex;
        flex-direction: column;
    }
  }